.main {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--grey);
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
.img {
  width: 100px;
  height: auto;
  margin: 10px;
  border: solid black;
  border-radius: 10px;
  background-color: white;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  font-weight: bold;
  padding-top: 10px;
  padding-right: 10px;
  border-bottom: solid black;
  border-right: solid black;
}
