.image {
  height: auto;
  width: 500px;
}
.imageContainer {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .image {
    width: 90vw;
  }
}
