.image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px;
}

.imageWrapper {
  position: relative;
}
.descriptionContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(179, 180, 186, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.imageDescription {
  transition: 0.2s;
  transform: translateY(1em);
}
.imageWrapper:hover .imageDescription {
  transform: translateY(0);
}
.imageWrapper:hover .descriptionContainer {
  visibility: visible;
  opacity: 1;
}
.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
