#root {
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: black;
  max-width: fit-content;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-grow: 1;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  flex-grow: 1;
  padding: 50px;
}

.centerMain {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 100vw;
  height: 500px;
  object-fit: none;
}
@media (max-width: 1200px) {
  .centerMain {
    flex-direction: column;
    width: 100vw;
  }
}
.wordPressInfo {
  padding: 20px;
  margin: 30px;
}
hr {
  display: none;
}
li > p {
  display: none;
}
.wpDiv {
  background-color: blue;
  flex-grow: 1;
  width: 100%;
}
