#root {
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  background-color: red;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-grow: 1;
}
.info {
  display: flex;
  flex-direction: column;
  background-color: red;
  flex-grow: 1;
  padding: 50px;
}
.centerMain {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
